@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --header-height: 6rem;
  --sidebar: hsl(0 0% 98%);
  --sidebar-foreground: hsl(240 5.3% 26.1%);
  --sidebar-primary: hsl(240 5.9% 10%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(240 4.8% 95.9%);
  --sidebar-accent-foreground: hsl(240 5.9% 10%);
  --sidebar-border: hsl(220 13% 91%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

* {
  outline: none;
}

html,
body {
  height: 100%;
  margin: 0 auto;
  scroll-behavior: smooth;
}

html {
  font-size: 16px;
}

body {
  font-family: "Pretendard", sans-serif;
  font-size: 1rem; /* 1rem = 16px */
  line-height: 1.6;
  letter-spacing: -0.01em;
  -ms-overflow-style: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -khtml-user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  word-break: keep-all;
}

img {
  display: block;
  -webkit-touch-callout: none;
  object-fit: cover;
  width: 100%;
}

button {
  cursor: pointer;
}

::-webkit-scrollbar {
  display: none;
}

.dark {
  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

@theme inline {
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  :root {
    --border: 220 14% 75%;
    --input: 220 14% 95%;
    --ring: 220 14% 70%;
    --background: 0 0% 100%;
    --foreground: 222 47% 11%;

    --primary: 240 100% 50%;
    --primary-foreground: 0 0% 100%;

    --secondary: 210 40% 96%;
    --secondary-foreground: 222 47% 11%;

    --muted: 210 40% 98%;
    --muted-foreground: 220 14% 40%;
  }
}
